{special
 {:doc "do something special"
  :paths ["foo"]
  ;; FIXME deps part could use validation, doesn't complain when wrong
  :deps {medley/medley {:mvn/version "1.3.0"}}
  :requires ([medley.core])
  :cmd (medley.core/index-by :id [{:id 1} {:id 2}])
  }
 basic
 {:doc "do something basic"
  :requires ([clojure.set :as set])
  :cmd (set/union #{1 2 3} #{4 5 6})}}
