{special
 {:doc "do something special"
  :paths ["foo"]
  ;; FIXME credentials are not loaded?
  :deps {medley/medley {:mvn/version "1.3.0"}}
  ; :deps {medley {:git/url "https://github.com/weavejester/medley" :sha "a4e5fb5383f5c0d83cb2d005181a35b76d8a136d"}}
  :requires ([medley.core])
  :cmd (medley.core/index-by :id [{:id 1} {:id 2}])
  }
 basic
 {:doc "do something basic"
  :requires ([clojure.set :as set])
  :cmd (set/union #{1 2 3} #{4 5 6})}}
